


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>nutcroft blog</title>

        

        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEwSURBVHgB7ZVBTsMwEEX/2GolQEjkBrkBPQI5ATlKd12SLrtr78EinACOkBuQG7QSEiClzuBpWYFUTxxY1W8ZfWe+7fEfIJFInDuEgbwtyjsQlUTm3q/Oj1+58b9qOueW2apuMQC1ge28vJlcmQcwzU8KmdfdR7/M1vUOf2XgUPzSPHv5DCq46d77QmPCQMFh5+riAs0mF7JGoQwJtosyn1j7igjYUXG9enw5pQmegDW2QizkypAkaMAYvkUkZPxLGWvAd/2Au/9FHhKomvA/0RhoEQtLQI00wOifEAvReANwtkYkEs0hTdCAvGMGNhgI99ho5oKqCfdTVx0Hjrp8s/+UNWFUBrKq3nXTvtCchOxcOweEweNYolnS0ZAE1HdGMFpm36xs61D0JhKJxE++AMI7Z3YRUW4wAAAAAElFTkSuQmCC">
        
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/">


<meta name="description" content="a blog about software engineering, society, and polities / start at series / subscribe via email">



    </head>

    <body >
        

        
        
        

        
<main class="blog" itemscope itemtype="http://schema.org/Blog">

{{ content }}
</main>






<footer>
    —
    <br>
    
    Subscribe <a href="/rss/">via RSS</a>
    / <a href="/newsletter/">via Email</a>.
    
    
    <a href="/about/">About</a>.
    
    <a href="/projects/">Projects</a>.
    
    <a href="/series/">Series</a>.
    
    
    <br><p><a href="/license">Public domain</a>. Powered&nbsp;by&nbsp;<a href="https://mataroa.blog/">mataroa.blog</a>.</p>
    
</footer>




        
        
    </body>
</html>
